.title{
    color: white;
    text-align: center;
  
}
.score{
    text-align: center;
    color: white;
}
.message{
    text-align: center;
    margin-top: 0;
    color: white;
}

.info{
    text-align: center;
    margin-top: 0;
    color: white;
}

body{
    background-color: black;
}